/**********************************
    Filename: global.css
    Author: Rafael Reis
    Date: Dez 18, 21

    Index
    General
    Header
    Cities
    Table of contents
    Stats
    Footer
**********************************/

/**********************************
    General
**********************************/
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/**********************************
    Header
**********************************/
header {}

nav {}

#hero-title {}

#hero-subtitle {}

nav a.brand-logo {
    font-size: 24px;
    font-weight: 500;
}

/**********************************
    Cities
**********************************/
#cities {}

/**********************************
    Table of contents
**********************************/
#table-of-contents {}

/**********************************
    Stats
**********************************/
#stats {}

/**********************************
    Footer
**********************************/
#footer {}