/**********************************
    Filename: global.css
    Author: Rafael Reis
    Date: Dez 18, 21

    Index
    General
    Header
    Cities
    Table of contents
    Stats
    Footer
**********************************/

/**********************************
    General
**********************************/
body {}

/**********************************
    Header
**********************************/
header {}

nav {}

#hero-title {}

#hero-subtitle {}

/**********************************
    Cities
**********************************/
#cities {}

/**********************************
    Table of contents
**********************************/
#table-of-contents {}

/**********************************
    Stats
**********************************/
#stats {}

/**********************************
    Footer
**********************************/
#footer {}